<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resonance</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="nav">
        <a href="/login">Profile</a>
        <a href="/login">Dashboard</a>
    </div>

    <div class="web_heading">
        <img src="../assets/forum_logo.jpg" width="300px" height="280px">
        <h1 style="align-items: center; font-size: 32px;color: black;">Welcome to Resonance</h1>
        <h2 style="align-items: center; font-size: 32px; color: black;">A platform where the frequencies match</h2>
        
    </div>

</body>
</html>